<!-- templates/aliquot.html -->

<div class="aliquot-entry mb-1">
  <div class="row mb-1 align-items-center">
    <div class="col">

      <div class="row mb-1 gx-1">
          <div class="col">
          
              <input type="text" placeholder="Volume" class="form-control custom-input" name="volume">
          </div>
          <div class="col">

              <select class="form-select custom-select" name="volume_unit[]">
                  <option value="mL">mL</option>
                  <option value="uL">μL</option>
                  <option value="L">L</option>
              </select>
          </div>
          <div class="col">
      
            <input type="text" placeholder="Concentration" class="form-control custom-input" name="concentration">
          </div>
          <div class="col">
          
              <select class="form-select custom-select" name="concentration_unit">
                  <option value="mg/mL">mg/mL</option>
                  <option value="ug/mL">μg/mL</option>
                  <option value="g/mL">g/mL</option>
                  <option value="g/mL">g/mL</option>
                  <option value="mg/L">g/mL</option>
              </select>
          </div>
          <div class="col">
            <input type="text" placeholder="Number of aliquots" class="form-control custom-input" name="number">
        </div>
        <div class="col d-flex align-items-center justify-content-end">
          <button type="submit" class="btn btn-secondary remove-aliquot-btn">-</button>
          
        </div>
      </div>
     
    </div>
    <div class="col col-lg-1 d-flex align-items-center">
      <button type="submit" class="btn btn-secondary add-aliquot-btn">+</button>
    </div>
  </div>

</div>

